In [1]:
import numpy as np
import pandas as pd

In [2]:
origin = pd.read_excel('Gender_StatsEXCEL.xlsx', sheet_name = 'Data')
origin = pd.DataFrame(origin)
origin.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Arab World,ARB,"Access to anti-retroviral drugs, female (%)",SH.HIV.ARTC.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.379121,8.981335,10.809919,12.393742,14.735615,17.476939,20.271829,23.921017,27.819662,NaN
1,Arab World,ARB,"Access to anti-retroviral drugs, male (%)",SH.HIV.ARTC.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.173559,10.474621,12.097192,13.687142,14.886223,17.240057,19.489992,22.092107,26.609062,NaN
2,Arab World,ARB,"Account at a financial institution, female (% ...",WP_time_01.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arab World,ARB,"Account at a financial institution, male (% ag...",WP_time_01.2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arab World,ARB,"Account, female (% age 15+) [ts]",WP_time_10.3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
np.shape(origin)

(165953, 62)

In [4]:
groupby_indicator_names = origin.groupby('Indicator Name')
# np.shape(groupby_indicator_names)
indicator_countries = pd.DataFrame(columns = ['number of countries'])
for group, frame in groupby_indicator_names:
    indicator_countries.loc[group] =  len(frame)   
    
indicator_countries.sort_values(by = 'number of countries')

                                                   number of countries
Access to anti-retroviral drugs, female (%)                        263
Saved to start, operate, or expand a farm or bu...                 263
Saved using a savings club or a person outside ...                 263
Saved using a savings club or a person outside ...                 263
School enrollment, primary (gross), gender pari...                 263
School enrollment, primary and secondary (gross...                 263
School enrollment, primary, female (% gross)                       263
School enrollment, primary, female (% net)                         263
School enrollment, primary, male (% gross)                         263
School enrollment, primary, male (% net)                           263
School enrollment, secondary (gross), gender pa...                 263
School enrollment, secondary, female (% gross)                     263
School enrollment, secondary, female (% net)                       263
School enrollment, secondary, male (% gross)                       263
School enrollment, secondary, male (% net)                         263
School enrollment, tertiary (gross), gender par...                 263
Saved to start, operate, or expand a farm or bu...                 263
Saved for old age, male (% age 15+) [w2]                           263
Saved for old age, female (% age 15+) [w2]                         263
Saved for future expenses, male (% age 15+) [w1]                   263
Received payments for agricultural products in ...                 263
Received wages in the past year, female (% age ...                 263
Received wages in the past year, male (% age 15...                 263
Rural population, female (% of total)                              263
Rural population, male (% of total)                                263
Saved any money in the past year, female (% age...                 263
Saved any money in the past year, female (% age...                 263
School enrollment, tertiary, female (% gross)                      263
Saved any money in the past year, male (% age 15+)                 263
Saved at a financial institution, female (% age...                 263
...                                                                ...
Life expectancy at age 60, male (years)                            263
Life expectancy at birth, male (years)                             263
Literacy rate, adult female (% of females ages ...                 263
Literacy rate, adult male (% of males ages 15 a...                 263
Literacy rate, youth (ages 15-24), gender parit...                 263
Literacy rate, youth female (% of females ages ...                 263
Literacy rate, youth male (% of males ages 15-24)                  263
Loan in the past year, female (% age 15+)                          263
Life expectancy at birth, female (years)                           263
Location of cooking: inside the house (% of hou...                 263
Labor force, total                                                 263
Labor force, female                                                263
Informal employment, female (% of total non-agr...                 263
Informal employment, male (% of total non-agric...                 263
Labor force participation rate for ages 15-24, ...                 263
Labor force participation rate for ages 15-24, ...                 263
Labor force participation rate for ages 15-24, ...                 263
Labor force participation rate for ages 15-24, ...                 263
Labor force participation rate, female (% of fe...                 263
Labor force, female (% of total labor force)                       263
Labor force participation rate, female (% of fe...                 263
Labor force participation rate, male (% of male...                 263
Labor force with advanced education, female (% ...                 263
Labor force with advanced education, male (% of...                 263
Labor force with basic education, female (% of ...                 263
Labor force with basic education, male (% of ma...                 263
Labor force with intermediate education, female...                 263
Labor force with intermediate education, male (...                 263
Labor force participation rate, male (% of male...                 263
Women's share of population ages 15+ living wit...                 263

[631 rows x 1 columns]

In [5]:
# we want to analyze the data from recent years, try to find some valuable indicators
origin_copy = origin.copy()
origin_copy = origin[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']]
year = [ '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']
origin_copy = origin_copy.dropna(subset = year, how = 'all')
# len(origin_copy['Country Name'].unique()) # 263
# len(origin_copy['Indicator Name'].unique()) #631
# np.shape(origin_copy)
indicator_countries = pd.DataFrame(columns = ['number of countries'])
for group, frame in origin_copy.groupby('Indicator Name'):
    indicator_countries.loc[group] =  len(frame)   
indicator_countries.sort_values(by = 'number of countries', ascending = False)

                                                   number of countries
Population, total                                                  263
Female migrants (% of international migrant stock)                 260
People practicing open defecation (% of populat...                 258
Birth rate, crude (per 1,000 people)                               257
Death rate, crude (per 1,000 people)                               257
GDP (current US$)                                                  256
GDP per capita (Current US$)                                       256
Fertility rate, total (births per woman)                           254
GDP growth (annual %)                                              253
Life expectancy at birth, female (years)                           253
Life expectancy at birth, male (years)                             253
Primary education, pupils (% female)                               249
Improved water source (% of population with acc...                 249
Improved sanitation facilities (% of population...                 248
GNI per capita, Atlas method (current US$)                         246
GNI, Atlas method (current US$)                                    246
Secondary education, pupils (% female)                             244
Births attended by skilled health staff (% of t...                 242
Primary education, teachers (% female)                             241
Population ages 15-64 (% of total)                                 240
Population ages 15-64, female                                      240
Population ages 15-64, male                                        240
Population ages 15-64, total                                       240
Population ages 0-14, female                                       240
Population ages 65 and above (% of total)                          240
Population, female                                                 240
Population, female (% of total)                                    240
Population ages 0-14 (% of total)                                  240
Population ages 65 and above, female                               240
Proportion of seats held by women in national p...                 240
...                                                                ...
Men who own land both alone and jointly (% of m...                  36
Men who own land both alone and jointly (% of m...                  36
Men who own land both alone and jointly (% of m...                  36
Men who own land both alone and jointly (% of m...                  36
Men who own land both alone and jointly (% of m...                  36
Women who believe a wife is justified refusing ...                  35
Women who believe a wife is justified refusing ...                  35
Women who believe a wife is justified refusing ...                  35
Women who believe a wife is justified refusing ...                  35
Women who believe a wife is justified refusing ...                  35
Women who believe a wife is justified refusing ...                  35
Women who believe a wife is justified refusing ...                  33
Women who believe a wife is justified refusing ...                  33
Women who believe a wife is justified refusing ...                  33
Women who believe a wife is justified refusing ...                  33
Women who believe a wife is justified refusing ...                  33
Women who believe a wife is justified refusing ...                  33
Women who believe a wife is justified refusing ...                  33
Women who believe a wife is justified refusing ...                  33
Women who believe a wife is justified refusing ...                  33
Women who believe a wife is justified refusing ...                  33
Women who believe a wife is justified refusing ...                  33
Women participating in decision of what food to...                  33
Women who believe a wife is justified refusing ...                  33
Female genital mutilation prevalence (%)                            28
Female genital mutilation prevalence (%): Q5 (h...                  25
Female genital mutilation prevalence (%): Q1 (l...                  25
Female genital mutilation prevalence (%): Q2                        25
Female genital mutilation prevalence (%): Q3                        25
Female genital mutilation prevalence (%): Q4                        25

[631 rows x 1 columns]

In [6]:
interest_indicator = indicator_countries[indicator_countries['number of countries'] >= 195]
# interest_indicator['Indicator Name'] = interest_indicator.index
interest_indicator.reset_index(level = 0, inplace = True)
interest_indicator.rename(columns = {'index':'Indicator Name'}, inplace = True)
interest_indicator

c:\python36\lib\site-packages\pandas\core\frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

                                        Indicator Name number of countries
0    Adjusted net enrollment rate, primary, female ...                 223
1    Adjusted net enrollment rate, primary, male (%...                 223
2    Adolescent fertility rate (births per 1,000 wo...                 240
3                        Age at first marriage, female                 206
4                          Age at first marriage, male                 198
5    Age dependency ratio (% of working-age populat...                 240
6                 Birth rate, crude (per 1,000 people)                 257
7    Births attended by skilled health staff (% of ...                 242
8    Cause of death, by communicable diseases, ages...                 229
9    Cause of death, by communicable diseases, ages...                 229
10   Cause of death, by communicable diseases, ages...                 229
11   Cause of death, by communicable diseases, ages...                 229
12   Cause of death, by injury, ages 15-34, female ...                 229
13   Cause of death, by injury, ages 15-34, male (%...                 229
14   Cause of death, by injury, ages 35-59, female ...                 229
15   Cause of death, by injury, ages 35-59, male (%...                 229
16   Cause of death, by non-communicable diseases, ...                 229
17   Cause of death, by non-communicable diseases, ...                 229
18   Cause of death, by non-communicable diseases, ...                 229
19   Cause of death, by non-communicable diseases, ...                 229
20             Children out of school, primary, female                 223
21               Children out of school, primary, male                 223
22   Contraceptive prevalence, any methods (% of wo...                 208
23   Contraceptive prevalence, modern methods (% of...                 200
24   Contributing family workers, female (% of fema...                 232
25   Contributing family workers, male (% of male e...                 232
26   Cost of business start-up procedures, female (...                 235
27   Cost of business start-up procedures, male (% ...                 235
28                Death rate, crude (per 1,000 people)                 257
29   Employers, female (% of female employment) (mo...                 232
..                                                 ...                 ...
129       School enrollment, secondary, male (% gross)                 235
130         School enrollment, secondary, male (% net)                 208
131  School enrollment, tertiary (gross), gender pa...                 226
132      School enrollment, tertiary, female (% gross)                 226
133        School enrollment, tertiary, male (% gross)                 226
134             Secondary education, pupils (% female)                 244
135           Secondary education, teachers (% female)                 225
136  Self-employed, female (% of female employment)...                 232
137  Self-employed, male (% of male employment) (mo...                 232
138  Sex ratio at birth (male births per female bir...                 240
139  Share of women in wage employment in the nonag...                 201
140  Start-up procedures to register a business, fe...                 235
141  Start-up procedures to register a business, ma...                 235
142      Tertiary education, academic staff (% female)                 213
143   Time required to start a business, female (days)                 235
144     Time required to start a business, male (days)                 235
145  Unemployment, female (% of female labor force)...                 232
146  Unemployment, female (% of female labor force)...                 219
147  Unemployment, male (% of male labor force) (mo...                 232
148  Unemployment, male (% of male labor force) (na...                 219
149  Unemployment, youth female (% of female labor ...                 232
150  Unemployment, youth female (% of female labor ...                 196
151  Unemployment, youth male (% of male labor forc...                 232
152  Unemployment, youth male (% of male labor forc...                 196
153              Urban population, female (% of total)                 239
154                Urban population, male (% of total)                 239
155  Vulnerable employment, female (% of female emp...                 232
156  Vulnerable employment, male (% of male employm...                 232
157  Wage and salaried workers, female (% of female...                 232
158  Wage and salaried workers, male (% of male emp...                 232

[159 rows x 2 columns]

In [7]:
merge = pd.merge(origin_copy, interest_indicator, on = ['Indicator Name'], how = 'right')
merge

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,number of countries
0,Arab World,ARB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,73.275620,75.132980,76.641022,77.653580,78.485397,79.475769,...,81.695686,82.871651,82.861389,84.401413,83.914032,83.820831,NaN,NaN,NaN,223
1,Caribbean small states,CSS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,93.758873,92.869598,92.252808,92.027557,93.611488,93.517563,...,93.120422,93.679657,93.752937,93.407738,92.724808,NaN,NaN,NaN,NaN,223
2,Central Europe and the Baltics,CEB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.659027,95.794853,95.854279,95.919563,95.728073,95.430458,...,96.761124,97.003021,96.611633,96.336021,95.973099,95.878433,NaN,NaN,NaN,223
3,Early-demographic dividend,EAR,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,79.231354,80.330177,81.186440,85.159439,86.620583,88.122643,...,92.279358,92.821404,93.300209,93.378868,93.688660,93.560097,NaN,NaN,NaN,223
4,East Asia & Pacific,EAS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,94.710747,95.185143,97.313599,97.009399,97.015167,94.883293,...,95.858963,96.238548,96.734039,96.449081,96.227287,96.194817,NaN,NaN,NaN,223
5,East Asia & Pacific (excluding high income),EAP,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,94.395027,94.905861,97.202377,96.847282,96.861748,94.551651,...,95.577744,96.001892,96.531914,96.232513,96.043900,96.009018,NaN,NaN,NaN,223
6,East Asia & Pacific (IDA & IBRD),TEA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,94.373123,94.887177,97.203827,96.845329,96.860153,94.528511,...,95.562958,95.991371,96.526779,96.224411,96.031593,95.996513,NaN,NaN,NaN,223
7,Euro area,EMU,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,99.432869,99.330177,99.255722,99.036850,98.748871,98.637062,...,99.051331,99.137741,99.024879,99.181648,99.140556,98.866081,NaN,NaN,NaN,223
8,Europe & Central Asia,ECS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,96.254440,97.069138,97.570908,97.263680,97.288101,96.472656,...,96.907043,97.232780,97.306313,97.251869,97.291008,97.032494,NaN,NaN,NaN,223
9,Europe & Central Asia (excluding high income),ECA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,92.998520,94.678177,95.880028,95.413696,96.054420,94.259750,...,94.587349,95.028137,95.221443,94.956223,94.995491,94.664413,NaN,NaN,NaN,223
10,Europe & Central Asia (IDA & IBRD),TEC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,93.369537,94.882278,95.912781,95.480949,96.002502,94.398689,...,94.744888,95.212624,95.395241,95.188141,95.234032,94.932793,NaN,NaN,NaN,223
11,European Union,EUU,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,98.653687,98.676117,98.667870,98.592163,98.271149,98.189598,...,98.552231,98.764862,98.702660,98.758133,98.665878,98.489517,NaN,NaN,NaN,223
12,Fragile and conflict affected situations,FCS,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,52.773399,54.510521,57.195530,59.407349,61.179039,61.870941,...,67.573532,68.428726,69.521591,71.945930,71.821968,73.000732,NaN,NaN,NaN,223
13,Heavily indebted poor countries (HIPC),HPC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,49.500938,52.309921,56.012161,59.130661,62.057121,64.728371,...,73.158539,73.323387,74.871628,76.430260,77.681122,78.576210,NaN,NaN,NaN,223
14,High income,HIC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,97.119881,97.212807,96.803909,96.621162,96.287491,96.568062,...,97.391289,97.130623,96.962669,96.966263,96.794563,96.934563,97.357094,NaN,NaN,223
15,IBRD only,IBD,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,88.700851,89.373772,90.748207,93.355118,94.247498,93.830933,...,96.011589,96.346359,96.407547,96.414726,96.304962,96.173042,NaN,NaN,NaN,223
16,IDA & IBRD total,IBT,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,80.257957,80.945923,82.290192,84.616158,86.034477,86.197533,...,88.708519,88.936943,89.241608,89.467590,89.523277,89.555168,NaN,NaN,NaN,223
17,IDA blend,IDB,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,65.739182,65.968651,65.875961,66.710991,68.668777,69.518532,...,70.893761,71.935547,71.744568,71.916321,71.399773,72.112671,NaN,NaN,NaN,223
18,IDA only,IDX,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,57.804668,59.896790,62.911919,66.108803,68.580704,70.934753,...,77.349197,77.257782,78.805222,79.936028,80.805458,81.196167,NaN,NaN,NaN,223
19,IDA total,IDA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,60.524239,61.961159,63.911339,66.309753,68.609749,70.473083,...,75.332314,75.605659,76.622292,77.454552,77.889931,78.367790,NaN,NaN,NaN,223
20,Late-demographic dividend,LTE,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.150436,95.522537,97.864502,97.473091,97.921669,95.969139,...,96.620293,96.562500,96.545738,96.590942,96.252510,96.443352,NaN,NaN,NaN,223
21,Latin America & Caribbean,LCN,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.617821,95.636192,95.576233,94.580818,95.069069,95.586281,...,95.743370,95.819229,95.635872,95.308609,94.404739,94.198311,NaN,NaN,NaN,223
22,Latin America & Caribbean (excluding high income),LAC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.640343,95.678123,95.625900,94.619972,94.996613,95.562302,...,95.793243,95.846230,95.710472,95.380074,94.453201,94.225212,NaN,NaN,NaN,223
23,Latin America & Caribbean (IDA & IBRD),TLA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,95.617477,95.651413,95.594040,94.603989,95.106117,95.628403,...,95.714531,95.787064,95.631828,95.315758,94.406250,94.236328,NaN,NaN,NaN,223
24,Least developed countries: UN classification,LDC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,56.250938,58.583130,62.125919,65.167870,68.044220,70.514290,...,77.110329,76.736649,78.115021,79.265709,80.091011,80.452469,NaN,NaN,NaN,223
25,Low income,LIC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,49.770721,52.304920,56.566769,60.001579,62.984322,65.565048,...,74.890022,74.777412,76.077621,77.375702,78.159569,78.729393,78.596001,NaN,NaN,223
26,Lower middle income,LMC,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,76.246971,77.190071,77.702492,82.255280,83.814667,85.147186,...,88.656143,89.534286,89.933792,90.042007,89.838608,89.672188,89.440918,NaN,NaN,223
27,Middle East & North Africa,MEA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,81.112289,83.702438,85.981796,87.125153,88.431740,89.103706,...,91.887871,93.306587,93.588600,94.075653,93.506363,93.214867,NaN,NaN,NaN,223
28,Middle East & North Africa (excluding high inc...,MNA,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,81.578873,84.322701,86.763527,87.965157,89.322067,89.919907,...,92.414543,93.400978,93.651756,93.918343,93.199501,92.868057,NaN,NaN,NaN,223
29,Middle East & North Africa (IDA & IBRD),TMN,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,81.482643,84.268387,86.737358,87.958763,89.357758,89.997063,...,92.475304,93.466164,93.703140,93.941223,93.202858,92.866570,NaN,NaN,NaN,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36667,Suriname,SUR,"Age at first marriage, male",SP.DYN.SMAM.MA,27.500000,NaN,NaN,NaN,31.800000,NaN,...,NaN,NaN,NaN,32.800000,NaN,NaN,NaN,NaN,NaN,198
36668,Swaziland,SWZ,"Age at first marriage, male",SP.DYN.SMAM.MA,30.100000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36669,Sweden,SWE,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,34.500000,34.500000,34.500000,34.500000,34.400000,...,33.700000,33.500000,33.200000,33.200000,NaN,33.100000,NaN,NaN,NaN,198
36670,Switzerland,CHE,"Age at first marriage, male",SP.DYN.SMAM.MA,31.100000,31.600000,NaN,32.100000,NaN,32.400000,...,32.700000,NaN,29.700000,33.200000,NaN,32.800000,NaN,NaN,NaN,198
36671,Syrian Arab Republic,SYR,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,29.300000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36672,Tajikistan,TJK,"Age at first marriage, male",SP.DYN.SMAM.MA,24.100000,NaN,NaN,NaN,NaN,NaN,...,NaN,24.700000,NaN,24.300000,NaN,NaN,NaN,NaN,NaN,198
36673,Tanzania,TZA,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,25.900000,NaN,25.000000,25.100000,...,NaN,25.100000,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,198
36674,Thailand,THA,"Age at first marriage, male",SP.DYN.SMAM.MA,27.400000,NaN,NaN,NaN,NaN,NaN,...,NaN,28.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36675,Timor-Leste,TLS,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,24.600000,27.000000,NaN,...,26.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36676,Togo,TGO,"Age at first marriage, male",SP.DYN.SMAM.MA,28.200000,NaN,NaN,NaN,NaN,NaN,...,NaN,27.600000,NaN,NaN,NaN,27.600000,NaN,NaN,NaN,198
36677,Tonga,TON,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25.500000,NaN,NaN,NaN,NaN,NaN,198
36678,Trinidad and Tobago,TTO,"Age at first marriage, male",SP.DYN.SMAM.MA,31.400000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,31.800000,NaN,NaN,NaN,NaN,NaN,NaN,198
36679,Tunisia,TUN,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,32.600000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36680,Turkey,TUR,"Age at first marriage, male",SP.DYN.SMAM.MA,26.100000,NaN,NaN,26.400000,NaN,NaN,...,NaN,NaN,NaN,NaN,28.100000,NaN,NaN,NaN,NaN,198
36681,Turks and Caicos Islands,TCA,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,28.300000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36682,Tuvalu,TUV,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,26.500000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36683,Uganda,UGA,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,23.400000,24.200000,NaN,NaN,24.000000,...,NaN,NaN,24.300000,NaN,NaN,NaN,NaN,NaN,NaN,198
36684,Ukraine,UKR,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,26.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,26.400000,NaN,NaN,NaN,NaN,NaN,198
36685,United Arab Emirates,ARE,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,26.800000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36686,United Kingdom,GBR,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,28.100000,NaN,NaN,NaN,NaN,...,33.200000,33.300000,28.700000,NaN,NaN,NaN,NaN,NaN,NaN,198
36687,United States,USA,"Age at first marriage, male",SP.DYN.SMAM.MA,27.800000,NaN,24.000000,NaN,NaN,NaN,...,28.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36688,Uruguay,URY,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.500000,NaN,NaN,NaN,NaN,NaN,NaN,198
36689,Uzbekistan,UZB,"Age at first marriage, male",SP.DYN.SMAM.MA,24.100000,NaN,24.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36690,Vanuatu,VUT,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,NaN,NaN,NaN,...,25.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36691,"Venezuela, RB",VEN,"Age at first marriage, male",SP.DYN.SMAM.MA,26.500000,26.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36692,Vietnam,VNM,"Age at first marriage, male",SP.DYN.SMAM.MA,26.000000,NaN,26.100000,NaN,NaN,26.000000,...,26.200000,NaN,26.400000,NaN,NaN,NaN,NaN,NaN,NaN,198
36693,West Bank and Gaza,PSE,"Age at first marriage, male",SP.DYN.SMAM.MA,26.900000,NaN,NaN,NaN,NaN,NaN,...,NaN,27.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198
36694,"Yemen, Rep.",YEM,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,NaN,25.400000,NaN,NaN,...,NaN,NaN,NaN,NaN,26.100000,NaN,NaN,NaN,NaN,198
36695,Zambia,ZMB,"Age at first marriage, male",SP.DYN.SMAM.MA,25.400000,NaN,24.800000,NaN,NaN,NaN,...,NaN,26.200000,NaN,NaN,NaN,25.900000,NaN,NaN,NaN,198
36696,Zimbabwe,ZWE,"Age at first marriage, male",SP.DYN.SMAM.MA,NaN,NaN,25.800000,NaN,NaN,NaN,...,NaN,25.500000,NaN,NaN,NaN,25.200000,NaN,NaN,NaN,198

In [8]:
merge['Indicator Name'].unique()

array([ 'Adjusted net enrollment rate, primary, female (% of primary school age children)',
       'Adjusted net enrollment rate, primary, male (% of primary school age children)',
       'Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Age dependency ratio (% of working-age population)',
       'Birth rate, crude (per 1,000 people)',
       'Births attended by skilled health staff (% of total)',
       'Cause of death, by communicable diseases, ages 15-34, female (% of relevant age group)',
       'Cause of death, by communicable diseases, ages 15-34, male (% of relevant age group)',
       'Cause of death, by communicable diseases, ages 35-59, female (% of relevant age group)',
       'Cause of death, by communicable diseases, ages 35-59, male (% of relevant age group)',
       'Cause of death, by injury, ages 15-34, female  (% of relevant age group)',
       'Cause of death, by injury, ages 15-34, male (% of relevant age group)',
       'Cause of death, by injury, ages 35-59, female (% of relevant age group)',
       'Cause of death, by injury, ages 35-59, male (% of relevant age group)',
       'Cause of death, by non-communicable diseases, ages 15-34, female (% of relevant age group)',
       'Cause of death, by non-communicable diseases, ages 15-34, male (% of relevant age group)',
       'Cause of death, by non-communicable diseases, ages 35-59, female (% of relevant age group)',
       'Cause of death, by non-communicable diseases, ages 35-59, male (% of relevant age group)',
       'Children out of school, primary, female',
       'Children out of school, primary, male',
       'Contraceptive prevalence, any methods (% of women ages 15-49)',
       'Contraceptive prevalence, modern methods (% of women ages 15-49)',
       'Contributing family workers, female (% of female employment) (modeled ILO estimate)',
       'Contributing family workers, male (% of male employment) (modeled ILO estimate)',
       'Cost of business start-up procedures, female (% of GNI per capita)',
       'Cost of business start-up procedures, male (% of GNI per capita)',
       'Death rate, crude (per 1,000 people)',
       'Employers, female (% of female employment) (modeled ILO estimate)',
       'Employers, male (% of male employment) (modeled ILO estimate)',
       'Employment in agriculture, female (% of female employment) (modeled ILO estimate)',
       'Employment in agriculture, male (% of male employment) (modeled ILO estimate)',
       'Employment in industry, female (% of female employment) (modeled ILO estimate)',
       'Employment in industry, male (% of male employment) (modeled ILO estimate)',
       'Employment in services, female (% of female employment) (modeled ILO estimate)',
       'Employment in services, male (% of male employment) (modeled ILO estimate)',
       'Employment to population ratio, 15+, female (%) (modeled ILO estimate)',
       'Employment to population ratio, 15+, female (%) (national estimate)',
       'Employment to population ratio, 15+, male (%) (modeled ILO estimate)',
       'Employment to population ratio, 15+, male (%) (national estimate)',
       'Employment to population ratio, 15+, total (%) (national estimate)',
       'Employment to population ratio, ages 15-24, female (%) (modeled ILO estimate)',
       'Employment to population ratio, ages 15-24, male (%) (modeled ILO estimate)',
       'Expected years of schooling, female',
       'Expected years of schooling, male',
       'Female migrants (% of international migrant stock)',
       'Fertility rate, total (births per woman)', 'GDP (current US$)',
       'GDP growth (annual %)', 'GDP per capita (Current US$)',
       'GNI per capita, Atlas method (current US$)',
       'GNI per capita, PPP (current international $)',
       'GNI, Atlas method (current US$)',
       'Government expenditure on education, total (% of GDP)',
       'Health expenditure per capita, PPP (constant 2011 international $)',
       'Health expenditure, public (% of GDP)',
       'Immunization, DPT (% of children ages 12-23 months)',
       'Immunization, measles (% of children ages 12-23 months)',
       'Improved sanitation facilities (% of population with access)',
       'Improved water source (% of population with access)',
       'Inflation, consumer prices (annual %)',
       'Labor force participation rate for ages 15-24, female (%) (modeled ILO estimate)',
       'Labor force participation rate for ages 15-24, male (%) (modeled ILO estimate)',
       'Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate)',
       'Labor force participation rate, female (% of female population ages 15+) (national estimate)',
       'Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate)',
       'Labor force participation rate, male (% of male population ages 15+) (national estimate)',
       'Labor force, female',
       'Labor force, female (% of total labor force)',
       'Labor force, total', 'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Lower secondary completion rate, female (% of relevant age group)',
       'Lower secondary completion rate, male (% of relevant age group)',
       'Maternal mortality ratio (modeled estimate, per 100,000 live births)',
       'Mortality rate, infant, female (per 1,000 live births)',
       'Mortality rate, infant, male (per 1,000 live births)',
       'Mortality rate, under-5, female (per 1,000 live births)',
       'Mortality rate, under-5, male (per 1,000 live births)',
       'Net intake rate in grade 1, female (% of official school-age population)',
       'Net intake rate in grade 1, male (% of official school-age population)',
       'Number of maternal deaths',
       'Own-account workers, female (% of female employment) (modeled ILO estimate)',
       'Own-account workers, male (% of male employment) (modeled ILO estimate)',
       'People practicing open defecation (% of population)',
       'People practicing open defecation, rural (% of rural population)',
       'People practicing open defecation, urban (% of urban population)',
       'Population ages 0-14 (% of total)', 'Population ages 0-14, female',
       'Population ages 15-64 (% of total)',
       'Population ages 15-64, female', 'Population ages 15-64, male',
       'Population ages 15-64, total',
       'Population ages 65 and above (% of total)',
       'Population ages 65 and above, female', 'Population, female',
       'Population, female (% of total)', 'Population, total',
       'Pregnant women receiving prenatal care (%)',
       'Prevalence of anemia among women of reproductive age (% of women ages 15-49)',
       'Prevalence of overweight, female (% of female adults)',
       'Prevalence of overweight, male (% of male adults)',
       'Primary completion rate, female (% of relevant age group)',
       'Primary completion rate, male (% of relevant age group)',
       'Primary education, pupils (% female)',
       'Primary education, teachers (% female)',
       'Progression to secondary school, female (%)',
       'Progression to secondary school, male (%)',
       'Proportion of seats held by women in national parliaments (%)',
       'Proportion of women in ministerial level positions (%)',
       'Ratio of female to male labor force participation rate (%) (modeled ILO estimate)',
       'Ratio of female to male labor force participation rate (%) (national estimate)',
       'Ratio of female to male youth unemployment rate (% ages 15-24) (modeled ILO estimate)',
       'Rural population, female (% of total)',
       'Rural population, male (% of total)',
       'School enrollment, primary (gross), gender parity index (GPI)',
       'School enrollment, primary and secondary (gross), gender parity index (GPI)',
       'School enrollment, primary, female (% gross)',
       'School enrollment, primary, female (% net)',
       'School enrollment, primary, male (% gross)',
       'School enrollment, primary, male (% net)',
       'School enrollment, secondary (gross), gender parity index (GPI)',
       'School enrollment, secondary, female (% gross)',
       'School enrollment, secondary, female (% net)',
       'School enrollment, secondary, male (% gross)',
       'School enrollment, secondary, male (% net)',
       'School enrollment, tertiary (gross), gender parity index (GPI)',
       'School enrollment, tertiary, female (% gross)',
       'School enrollment, tertiary, male (% gross)',
       'Secondary education, pupils (% female)',
       'Secondary education, teachers (% female)',
       'Self-employed, female (% of female employment) (modeled ILO estimate)',
       'Self-employed, male (% of male employment) (modeled ILO estimate)',
       'Sex ratio at birth (male births per female births)',
       'Share of women in wage employment in the nonagricultural sector (% of total nonagricultural employment)',
       'Start-up procedures to register a business, female (number)',
       'Start-up procedures to register a business, male (number)',
       'Tertiary education, academic staff (% female)',
       'Time required to start a business, female (days)',
       'Time required to start a business, male (days)',
       'Unemployment, female (% of female labor force) (modeled ILO estimate)',
       'Unemployment, female (% of female labor force) (national estimate)',
       'Unemployment, male (% of male labor force) (modeled ILO estimate)',
       'Unemployment, male (% of male labor force) (national estimate)',
       'Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate)',
       'Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate)',
       'Urban population, female (% of total)',
       'Urban population, male (% of total)',
       'Vulnerable employment, female (% of female employment) (modeled ILO estimate)',
       'Vulnerable employment, male (% of male employment) (modeled ILO estimate)',
       'Wage and salaried workers, female (% of female employment) (modeled ILO estimate)',
       'Wage and salaried workers, male (% of male employment) (modeled ILO estimate)',
       'Government expenditure per student, primary (% of GDP per capita)',
       'Labor force participation rate for ages 15-24, female (%) (national estimate)',
       'Labor force participation rate for ages 15-24, male (%) (national estimate)',
       'Ratio of female to male youth unemployment rate (%) (national estimate)',
       'Unemployment, youth female (% of female labor force ages 15-24) (national estimate)',
       'Unemployment, youth male (% of male labor force ages 15-24) (national estimate)',
       'Age at first marriage, female', 'Age at first marriage, male'], dtype=object)

In [9]:
merge.to_csv('159 indicators for all the countries 2000 to 2016.csv')